<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">CONTACTS</h5>
          <a href="/">← Back To Home</a>
          {{#each users}}
          <li>
            <p>heyooooo</p>
            {{firstName}}
            {{lastName}}
            {{email}}
            {{phoneNumber}}
            {{role}}
          </li>
          {{/each}}
        </div>

      </div>
    </div>
  </div>

</div>